<div class="subsribe-form">
  <div class="header">
    <h2>Drop us a line...</h2>
    <p>Drop us a message and we will contact you back shortly</p>
  


  </div>
  <form class="form-wrap" id="md-form" autocomplete="off" method="get">
    <div class="input-wrap">

      <i class="material-icons">person</i>
      <label for="a">Name</label>
      <input class="input" type="text" name="name" id="a" placeholder="First and Last name" value="" />

    </div>

    <div class="input-wrap">
      <i class="material-icons">email</i>
      <label for="b">E-mail</label>
      <input class="input" type="email" name="email" id="b" placeholder="email@mail.com" value="" />

    </div>


    <div class="input-wrap">
      <i class="material-icons">mic</i>
      <label for="c">Message</label>
      <textarea class="input" name="message" id="c" placeholder="Write what you feel" /></textarea>
    </div>

    <div class="input-wrap">
      <input type="checkbox" id="d">
      <label for="d">You agree on our terms and conditions</label>
    </div>

    <div class="input-wrap">
      <button id="confirm" type="submit">Submit</button>
    </div>

  </form>

  <div class="ending">
    <div>
      <i class="material-icons">check</i>
    </div>

    <div>
      <h2>Your Message has been sent successfuly</h2>
    </div>

  </div>
  <!-- end of ending -->

</div>
<!-- end of Card -->
